@model ContosoJourney.Models.Journey

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Journey</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JourneyID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JourneyID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JourneyDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JourneyDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JourneyDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JourneyDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JourneyID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
