@model ContosoJourney.Models.Enrollment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Journey.TripName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Journey.TripName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Journey.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Journey.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Journey.JourneyDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Journey.JourneyDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Journey.JourneyDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Journey.JourneyDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JourneyID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
