@model IEnumerable<StudentJourney.ViewModels.EnrollmentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Journey ID
            </th>
            <th>
                Student ID
            </th>
            <th>
                Cost
            </th>
            <th>
                Trip Name
            </th>
            <th>
                Journey Duration
            </th>
            <th>
                Journey Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JourneyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JourneyDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JourneyDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.JourneyID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.JourneyID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.JourneyID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
