@using BikeRentalSystemGr2B.ViewModels;
@model BikeDetailViewModel


    <li>
        <p>Model: @Model.Model</p>
        <p>Producent: @Model.Producer</p>
        <p>Kolor: @Model.Color</p>
        <p>Liczba rowerów: @Model.NumberOfBikes</p>
        <p>Liczba przerzutek: @Model.NumberOfGears</p>
        <p>Rodzaj roweru: @Model.BikeType</p>
    </li>

